.page.theme_dark {
    --main-color: #000028;
    --accent-color: #ff0070;
    --main-font-color: #f1b2ce;
    --banner-title-color: #db00ff;
    --background-fallback: #05042c;
    --background-image: url('../images/cover-image-dark.png');
    --color-hover: rgba(255, 0, 112, 0.5);
    background-color: var(--background-fallback);
}

.page.theme_dark::after {
    display: block;
    color: var(--accent-color);
}

.page.theme_dark::before {
    display: block;
    color: var(--accent-color);
}

.page.theme_dark .decorated-zone::before {
    border-top: solid 1px var(--accent-color);
    border-right: solid 1px var(--accent-color);
}

.page.theme_dark .decorated-zone::after {
    border-bottom: solid 1px var(--accent-color);
    border-left: solid 1px var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
    color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
    border: solid 1px var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
    outline: solid 1px var(--color-hover);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
    outline: none;
    box-shadow: 0px 1px 0 0 var(--accent-color);
}

.page.theme_dark .banner__description {
    color: var(--main-color);
}

.page.theme_dark .section__title {
    color: var(--accent-color);
}

.page.theme_dark .section__item-title {
    color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #000028;
        --accent-color: #ff0070;
        --main-font-color: #f1b2ce;
        --banner-title-color: #db00ff;
        --background-fallback: #05042c;
        --background-image: url('../images/cover-image-dark.png');
        --color-hover: rgba(0, 0, 40, 0.5);
    }

    .page {
        background-color: var(--background-fallback);
        background-image: var(--background-image);
    }

    .banner__description {
        color: var(--main-color);
    }

    .section__item-title {
        color: var(--main-color);
    }
}
